* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #444;
    color: #dedeed;
    font-family: "Roboto Light", sans-serif;
}
a,
button {
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
}

button:hover {
  filter: brightness(120%);
}

